---
import DefaultLayout from "../../layouts/DefaultLayout.astro";
import LoginForm from "../../components/LoginForm.jsx";
---

<DefaultLayout title="Log in - Alphonics">
  <div class="relative flex min-h-screen items-center flex-col justify-center">
    <div class="text-foreground text-red-500 font-bold text-3xl tracking-tighter mx-auto flex items-center gap-2">
      Log in to Alphonics
    </div>
    <div class="mt-12 w-full max-w-4xl mx-auto">
      <div class="h-1 w-full bg-gradient-to-r from-transparent via-red-500 to-transparent"></div>
      <div class="bg-white border dark:border-b-white/50 dark:border-t-white/50 border-b-white/20 sm:border-t-white/20 shadow-[20px_0_20px_20px] shadow-slate-500/10 dark:shadow-white/20 rounded-lg border-white/20 border-l-white/20 border-r-white/20 sm:shadow-sm lg:rounded-xl lg:shadow-none w-full h-full lg:h-auto">
        <div class="flex flex-col p-6">
          <h3 class="text-xl font-semibold leading-6 tracking-tighter text-red-500">
            Login
          </h3>
          <p class="mt-1.5 text-sm font-medium leading-5">
            Welcome back, enter your credentials to continue.
          </p>
        </div>
        <div class="p-6 pt-0">
          <LoginForm />
        </div>
      </div>
    </div>
  </div>
  
</DefaultLayout>

