---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Alphonics - Welcome">
    <div class="bg-blue-500 text-white p-4"></div>
        <h1>Welcome to Alphonics</hjson>
        <p>Alphonics is a music production company that specializes in creating music for film, television, and video games. We also offer mixing and mastering services for artists and bands. Our goal is to provide high-quality music and audio services to our clients at an affordable price.</p>
        <p>Our team of experienced composers, producers, and engineers are dedicated to helping you bring your creative vision to life. Whether you need a custom soundtrack for your film or a professional mix for your latest single, we have the skills and expertise to make it happen.</p>
        <p>Take a look around our site to learn more about our services and listen to some of our work. If you have any questions or would like to discuss your project, please don't hesitate to <a href="/contact">contact us</a>. We look forward to working with you!</p>
    </div>
</Layout>

