---
export interface Props {
  title: string;
}

const { title } = Astro.props as Props;

import MenuHeader from "./MenuHeader.astro";
import { ViewTransitions } from "astro:transitions";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#cf232f" />
    <meta name="msapplication-TileColor" content="#cf232f" />
    <meta name="theme-color" content="#cf232f" />
    <title>{title}</title>
    <meta name="description" content={title} />
    <script src="/src/pwa.ts"></script>
    <ViewTransitions />
  </head>
  <body class="flex flex-col min-h-screen">
    <header
      class="bg-gradient-to-b from-red-700 via-red-500 to-slate-200 text-white px-8"
    >
      <MenuHeader />
    </header>

    <main class="flex-grow overflow-y-auto bg-slate-200">
      <div class="mx-auto p-8">
        <slot />
      </div>
    </main>
  </body>
</html>
