/* Estilos básicos con Tailwind CSS */
body {
  font-family: Arial, sans-serif;
  background-color: #000000; /* Fondo negro */
  color: #FF0000; /* Texto rojo */
  margin: 0;
  padding: 0;
}

.App {
  padding: 20px;
}

.container {
  padding: 10px; /* Separación de 10px entre contenedores */
  background-color: #1a1a1a; /* Fondo negro para los contenedores */
  border-radius: 10px; /* Bordes redondeados */
}

.input-group {
  display: flex;
  margin-bottom: 20px;
}

.input-group input[type="input"] {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #E69096;
  color: #000000;
  font-size: 16px;
}

.input-group button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #CF232F;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.input-group button:hover {
  background-color: #BC101C;
}

.artist-profile {
  text-align: center;
  margin-bottom: 20px;
}

.artist-image {
  width: 300px; /* Ajustar el ancho de la imagen */
  height: 300px; /* Ajustar el alto de la imagen */
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
  background-color: #000000; /* Fondo negro */
}

.section-title {
  font-size: 24px;
  font-weight: bold;
  color: #E69096;
  margin-bottom: 10px;
}

.tracks-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* 4 o 5 columnas según el espacio disponible */
  gap: 20px; /* Separación entre elementos */
  margin-top: 20px; /* Separación entre la sección de álbumes y la sección de pistas */
}

.track-card {
  background-color: #1a1a1a; /* Fondo negro */
  padding: 10px; /* Espaciado interno */
  border-radius: 10px; /* Bordes redondeados */
}

.album-card img,
.track-card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.album-card .card-body,
.track-card .card-body {
  text-align: center;
}

.album-card .card-title,
.track-card .card-title {
  font-size: 16px;
  font-weight: bold;
  color: #A19F9F;
}

.album-card:hover,
.track-card:hover {
  transform: translateY(-5px); /* Efecto de levantamiento al pasar el mouse */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra al pasar el mouse */
}

.albums-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px; /* Separación entre la sección de álbumes y la sección de pistas */
}

.album-link {
  width: 25%; /* Ancho fijo del 25% del contenedor padre */
  margin-bottom: 20px;
  text-decoration: none; /* Eliminar subrayado en el enlace */
}

.album-card {
  width: 100%; /* Ocupa todo el ancho del contenedor */
  margin-bottom: 20px;
  background-color: #1a1a1a; /* Fondo negro */
  padding: 10px; /* Espaciado interno */
  border-radius: 10px; /* Bordes redondeados */
  margin-right: 3px;
}

.album-card:last-child {
  margin-right: 0; /* Eliminar margen derecho del último elemento */
}
