---
export interface Props {
  title: string;
}

const { title } = Astro.props as Props;

import DefaultHeader from "./DefaultHeader.astro";
import { ViewTransitions } from "astro:transitions";
import DefaultFooter from "./DefaultFooter.astro";
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{title}</title>
  <meta name="description" content={title} />
  <script src="/src/pwa.ts"></script>
  <ViewTransitions />
</head>
<body class="flex flex-col min-h-screen">
  <header class="bg-gradient-to-b from-red-700 via-red-500 to-red-200 text-white px-8">
    <DefaultHeader />
  </header>

  <main class=" flex-grow overflow-y-auto bg-red-200">
      <slot />
  </main>
  <footer class="bg-gradient-to-b from-red-200 to-red-500 text-white px-8 py-8">
    <DefaultFooter />
  </footer>
</body>
</html>